@import "https://fonts.googleapis.com/css?family=Bungee";
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

body {
  margin: 0;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #201f5b;
}
.title-area {
  font-family: "Bungee", sans-serif;
  text-align: center;
  margin: 0;
}
.container {
  background-color: #e8e8e0;
  min-height: 100vh;
  max-width: 720px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border: 10px solid white;
  border-radius: 20px;
}

.task-area {
  border: 1px solid lightgrey;
}
.task-tabs {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid lightgrey;
  position: relative;
  padding: 0;
  font-family: "Jua", sans-serif;
  font-weight: bolder;
}

.task-tabs div {
  padding: 1em;
  z-index: 5;
  cursor: pointer;
}

#under-line {
  height: 4px;
  background-color: #4b67d1;
  position: absolute;
  width: 33%;
  left: 0px;
  top: 52px;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  width: 98.5%;
  border: none;
  position: relative;
  border-radius: 10px;
  background-color: #e8e8e0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  margin: 5px;
  font-weight: bolder;
}
.task span {
  padding: 1em;
}

.input-area {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.input-area input {
  width: 70%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
}
.input-area button {
  border-radius: 7px;
  border: 1px solid #dddddd0a;
  width: 30px;
  padding: 3px;
  font-weight: bolder;
}

.task-done {
  text-decoration: line-through;
  background-color: rgb(148, 148, 148);
  transition: 0.7s;
}
.button-box {
  display: flex;
}
.button-box button {
  border: none;
  width: 4em;
  background-color: white;
  transition: 0.5s;
  border-radius: 10px;
  height: 45px;
  margin: 5px;
}
.button-box button :active {
  position: relative;
  top: 2px;
}

.button-box button:first-child:hover {
  background-color: greenyellow;
}
.button-box button:nth-child(2):hover {
  background-color: rgb(255, 0, 0, 0.3);
}
